extends layout

block content
	h1 #{title}
	form(method='POST', action='/threads/edit/'+thread._id)
		#form-group
			label Name:
			input.form-control(name='name', type='text', value=thread.name)
		#form-group
			label Poster name:
			input.form-control(name='pname', type='text', value=thread.pname)
		#form-group
			label Body:
			textarea.form-control(name='body')= thread.body
		#form-group
			label Board:
			select(name='board')
				option Programming
				option Mathematics
		br
		input.btn.btn-primary(type='submit', value='Submit')